body {
  background-image: url(/assets/image/pexels-cottonbro-5483077.jpg);
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: "myfont";
  font-weight: normal;
  font-style: normal;
  src: url(../assets/font/Anton-Regular.ttf);
}
@font-face {
  font-family: "myfont1";
  font-weight: normal;
  font-style: normal;
  src: url(../assets/font/Righteous-Regular.ttf);
}
@font-face {
  font-family: "myfont2";
  font-weight: normal;
  font-style: normal;
  src: url(../assets/font/Alexandria-VariableFont_wght.ttf);
}

* {
  font-family: "myfont1";
  transition: all 0.5s;
}

#my-sidebar {
  width: 250px;
  height: 100%;
  box-shadow: 10px 40px 40px rgb(58, 58, 75);
  position: absolute;
  top: 0;
}
#my-sidebar a {
  background-color: rgb(187, 190, 190);
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  box-shadow: 5px 20px 20px rgb(119, 118, 118);
  margin-bottom: 20px;
  color: darkmagenta;
}

#main {
  position: absolute;
  top: 0;
}

.navbar {
  height: 15vh;
  background-color: rgb(230, 231, 229);
  display: flex;
  flex-direction: row-reverse;
}

.navbar img {
  /* position: absolute; */
  margin: auto 40px;
  width: 5%;
}

.navbar a {
  display: flex;
  text-decoration: none;
  color: black;
  margin: auto;
  font-size: 100%;
  margin-right: 60px;
  box-shadow: 2px 5px 5px black;
  padding: 10px 20px;
  border-radius: 5px;
}

@media screen and (max-width: 700px) {
  .navbar a {
    padding: 5px 5px;
    font-size: 5px;
    margin-right: -30px;
  }

  #openNav i{
    font-size: 5px;
  }
}

#openNav {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  width: 100%;
  display: flex;
  background-color: rgb(230, 231, 229);
}

.close-btn {
  width: 100%;
  border: none;
  padding: 20px;
}
