body {
  background-image: url(/assets/image/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: "myfont";
  src: url(../assets/font/Anton-Regular.ttf);
}
@font-face {
  font-family: "myfont1";
  src: url(../assets/font/Righteous-Regular.ttf);
}
@font-face {
  font-family: "myfont3";
  src: url(../assets/font/BungeeSpice-Regular.ttf);
}
@font-face {
  font-family: "myfont2";
  src: url(../assets/font/Alexandria-VariableFont_wght.ttf);
}
@font-face {
  font-family: "myfont4";
  src: url(../assets/font/Vazirmatn-VariableFont_wght.ttf);
}
@font-face {
  font-family: "myfont5";
  src: url(../assets/font/Tajawal-Regular.ttf);
}
@font-face {
  font-family: "myfont6";
  src: url(../assets/font/Lemonada-VariableFont_wght.ttf);
}

* {
  font-family: "myfont4";
}

a {
  text-decoration: none;
}

/* ------------------------------------------------------ */

.sidebar {
  width: 300px;
  height: 100%;
  background: -webkit-linear-gradient(to right, #323435, #7e8682);
  background: linear-gradient(to right, #05101b, #1e434d);
  transition: all 0.5s;
  position: absolute;
  top: 0;
  border-radius: 15px 0px 0px 15px;
  z-index: 9999;
  transform: translate(-10px);
}

.sidebar-img {
  width: 25%;
  border: 3px solid brown;
}

.sidebar-links a {
  text-decoration: none;
  color: aliceblue;
  font-family: "myfont6";
  font-size: 10px;
  padding: 5px;
}

.sidebar-links a i {
  font-size: 15px;
}

.sidebar-links a:hover {
  background-color: blueviolet;
  transition: all 0.5s;
  border-radius: 5px;
}

.sidebar-links h5 {
  font-family: "myfont6";
  margin: 10px;
  font-size: 15px;
  color: rgb(10, 57, 211);
  font-weight: bold;
}

.sidebar-logo {
  font-family: "myfont6";
  font-weight: bolder;
  color: blue;
}

.sidebar-logo span {
  font-family: "myfont3";
}

.close-btn-sidebar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.close-btn-sidebar button {
  background-color: transparent;
  border: none;
}

.sidebar-btn button {
  position: absolute;
  top: 10px;
  background-color: transparent;
  border: none;
}

.close-btn-sidebar button i {
  font-size: 30px;
  color: brown;
}

.sidebar-btn button i {
  margin-right: 10px;
  font-size: 35px;
  color: antiquewhite;
}

.sidebar_items_scroll {
  max-height: calc(100vh - 210px);
  overflow: auto;
}

/* ---------------------------sidebar end----------------------------------- */
/* ---------------------------Navbar---------------------------------------- */
.offcan {
  background-color: rgb(69, 116, 177);
  border: none;
  border-radius: 0px 40px 40px 0px;
  box-shadow: 20px 40px 40px;
}

.navbar {
  width: 100%;
  height: 10vh;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 10px 10px 40px;
}

.list-offcanvs {
  background-color: transparent !important;
  border: none !important;
}

.link-a {
  text-decoration: none;
  color: #000000;
}

.navbar h2 {
  display: flex;
  font-family: "myfont3";
  position: fixed;
  margin-right: 60px;
}

.navbar h2 span {
  color: rgb(13, 88, 185);
  font-family: "myfont6";
  font-weight: bolder;
}

.nav-icons button {
  background-color: transparent;
  border: none;
}

.nav-icons button i {
  font-size: 35px;
  color: aliceblue;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    overflow: scroll;
  }

  .sidebar-btn button i {
    position: absolute;
    top: -5px;
    font-size: 30px;
  }
  .nav-icons button i {
    font-size: 25px;
    color: aliceblue;
  }
}

@media screen and (max-width: 500px) {
  .sidebar {
    width: 200px;
    position: fixed;
  }

  .sidebar-btn button i {
    position: absolute;
    top: -5px;
    font-size: 25px;
  }

  .nav-icons button i {
    font-size: 15px;
    color: aliceblue;
  }

  .sidebar-links h5 {
    font-size: 8px;
    margin: 5px;
  }

  .sidebar-links a {
    padding: 0px;
    font-size: 5px;
  }

  .close-btn-sidebar button i {
    font-size: 20px;
  }
}

/* ---------------------------Navbar end---------------------------------------- */
/* ---------------------------Dashboard---------------------------------------- */

.dashboard-con {
  margin-top: 6%;
}

.dashboard-card {
  border: unset;
  box-shadow: 10px 20px 20px;
}

.table-dashboard {
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
  box-shadow: 10px 30px 40px;
}

.text_truncate {
  font-size: 20px;
  font-family: "myfont4";
}

.card_icon {
  background-color: rgb(214, 213, 219);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 15px;
}

.dashboard-parent:nth-child(1) .dashboard-card {
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}
.dashboard-parent:nth-child(3) .dashboard-card {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}
.dashboard-parent:nth-child(2) .dashboard-card {
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #cc3d3d 74%);
}
.dashboard-parent:nth-child(4) .dashboard-card {
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.chart {
  width: 100%;
}

/* ---------------------------Dashboard end---------------------------------------- */
/* ---------------------------Category---------------------------------------- */
.dir-ltr input {
  direction: ltr;
}

.pagination {
  box-shadow: 10px 30px 40px;
}

.pointer {
  cursor: pointer;
}

.category-style {
  margin-top: 100px;
}

.search-box {
  cursor: pointer;
}

.category-text {
  font-family: "myfont2";
}

.table-style {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #da67e0 0%,
    #0e9cc4 52%,
    #2bff88 90%
  );
  box-shadow: 10px 30px 40px;
}
.table-style-product {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #da67e0 0%,
    #0e9cc4 52%,
    #2bff88 90%
  );
  box-shadow: 10px 30px 40px;
}

.pagination {
  border-radius: 5px;
}

.disabled {
  pointer-events: none !important;
  opacity: 0.5;
}

.shadow_alert {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.89);
  border-radius: 5px;
  background-color: rgba(180, 52, 52, 0.418);
}

@media screen and (max-width: 500px) {
  .table-style-product {
    font-size: 5px;
  }
}

/* ---------------------------Category end---------------------------------------- */
/* --------------------------- Login --------------------------------------------- */



.boxShadow {
  box-shadow: 10px 10px 20px black;
}

.spinner-login {
  font-size: 5px;
}

.login form {
  background-color: rgba(122, 122, 122, 0.3);
  box-shadow: 20px 30px 40px;
}

.login-btn button {
  border: none;
  border-radius: 5px;
  box-shadow: 10px 30px 40px black;
  background: #04835d;
  color: moccasin;
}

.login-btn button:active {
  background-color: #be064d;
  transition: 0.1s;
  box-shadow: 5px 6px 7px black;
}
/* --------------------------- Login end --------------------------------------------- */

/* -------------------------------------- Loader    ---------------------------------- */

.load {
  height: 100vh;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 5px solid;
  border-color: rgb(172, 197, 30) rgb(114, 9, 44) transparent transparent;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid;
  border-color: transparent transparent #10c46a #6f0c9c;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 3.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 150px;
  height: 150px;
  border-color: #fff #fff transparent transparent;
  animation: rotation 3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* --------------------------------Loader end-------------------------------------- */
/* -------------------------------- Product -------------------------------------- */

.add-product {
  width: 80vw;
  box-shadow: 10px 30px 40px;
  border-radius: 15px;
  background-color: rgba(13, 182, 140, 0.6);
}

.multi_select_items_content {
  position: absolute;
  background-color: white;
  width: 100%;
  right: 0;
  top: 38px;
  z-index: 1;
  border: 1px solid wheat;
  border-radius: 5px;
  box-shadow: 1px 1px 10px;
}

.multi_select_items_content .multi_select_items {
  padding: 2px 10px 2px;
}
.multi_select_items_content .multi_select_items:hover {
  background-color: #04835d;
  color: white;
}

.img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: wheat;
  left: 0;
  top: 0;
  transition: all 200ms ease;
  transform: scale(0);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-gallery,
.add-img-gallery {
  width: 200px;
  height: 200px;
}

.img-gallery:hover .img-container {
  transform: scale(1);
  opacity: 1;
}

.font-size {
  font-size: 80px;
}

.disabled-100 {
  pointer-events: none !important;
  opacity: 0.5;
}

.opacity-0 {
  opacity: 0;
}

.main-image {
  border-bottom: 3px solid green !important;
}

.form_date_picker .wrap-input100 {
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 100%;
  background-color: #fff;
  height: 41px;
  padding-right: 18px;
  border: 1px solid;
  border-radius: 3px;
}

.form_date_picker .datePicker {
  position: absolute;
  top: 0;
  height: 41px;
  background-color: #fff;
  border-radius: 3px;
  z-index: 1;
  border: 1px solid black;
}

.background-smoke {
  background-color: rgb(0, 0, 0, 0.459);
}
/* select-search */

.select-search-container {
  width: 100% !important;
}

.select-search-input {
  font-family: "BYekan" !important;
  text-align: right !important;
  height: 39px !important;
  border: 1px solid #ced4da !important;
  border-radius: 0.25rem !important;
}

.select-search-input:focus {
  border: 1px solid #ced4da !important;
}

.select-search-select * {
  font-family: "BYekan" !important;
  text-align: right !important;
}


/* Chart.js */
#myChart {
    box-sizing: border-box;
    display: block;
    height: 60vh;
    width: 100%;
}